---
version: 3
images:
  base_image:
    name: quay.io/centos/centos:stream9
# options:
  # container_init:
  #     package_pip: dumb-init>=1.2.5
  #     entrypoint: '["dumb-init"]'
  #     cmd: '["csh"]'
  # package_manager_path: /usr/bin/microdnf
  # relax_password_permissions: false
  # skip_ansible_check: true
  # workdir: /myworkdir
  # user: 1000
dependencies:
  ansible_runner:
      package_pip: ansible-runner
  python_interpreter:
      package_system: python3.12
      python_path: "/usr/bin/python3.12"
  python: requirements.txt
  system: bindep.txt
  galaxy: requirements.yml
  ansible_core:
      package_pip: ansible-core>=2.17.4,<2.18
additional_build_files:
  - src: ansible.cfg
    dest: configs
additional_build_steps:
  append_base:
    - RUN alternatives --install /usr/bin/python3 python3 /usr/bin/python3.12 0
    - RUN pip3 --install upgrade pip urllib3
  prepend_galaxy:
    - ADD _build/configs/ansible.cfg ~/.ansible.cfg
