aiohttp
cloud-init
certifi
cryptography
docker
git+https://github.com/ansible/ansible-sign
molecule-vmware
ncclient
omsdk
openshift
paramiko
pexpect>=4.5
psycopg
psycopg2-binary
pyjwt
pykerberos
PyMySQL
pynetbox
pyOpenSSL
pypsrp[kerberos,credssp]
pyspnego
python312-devel
python-daemon
python-ilorest-library
python-ldap
pyvmomi
pywinos
pywinrm[kerberos,credssp]
PyYAML
pyyaml
receptorctl
requests
requests-ntlm
requests-oauthlib
setuptools
six
toml
urllib3
zabbix-api

