aiohttp
cloud-init
cryptography
docker
git+https://github.com/ansible/ansible-sign
ncclient
omsdk
openshift
paramiko
pexpect>=4.5
Psycopg
psycopg2-binary
PyJWT
pykerberos
PyMySQL
pyOpenSSL
pypsrp[kerberos,credssp]
python-daemon
python-ldap
pyvmomi
pywinrm[kerberos,credssp]
PyYAML
pyyaml
receptorctl
requests
requests-ntlm
requests-oauthlib
setuptools
six
toml
urllib3
zabbix-api

