aiohttp
ansible-builder
certifi
cloud-init
cryptography
docker
git+https://github.com/ansible/ansible-sign
git+https://github.com/vmware/ansible-for-nsxt
molecule-vmware
ncclient
omsdk
openshift
paramiko
pexpect>=4.5
psycopg
psycopg2-binary
pyjwt
pykerberos
PyMySQL
pynetbox
pyOpenSSL
pypsrp[kerberos,credssp]
pyspnego
python312-devel
python-daemon
python-ilorest-library
python-ldap
pytz
pyvmomi
pywinos
pywinrm[kerberos,credssp]
pyyaml
receptorctl
requests
requests-ntlm
requests-oauthlib
setuptools
six
toml
urllib3
zabbix-api
